<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row w-100">
        <div class="col-lg-5 mx-auto">
          <div class="auth-form-light text-left p-5">
            <h6 class="font-weight-light">Forgot Password</h6>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" class="pt-3">
              <div class="form-group">
                <input type="text" formControlName="email"
                  [class]="!email('pristine') && (email('required') || email('pattern')) ? 'forgot-password-error form-control form-control-lg' : 'forgot-password-success form-control form-control-lg'"
                  id="exampleInputUsername1" placeholder="Email*">
                <p *ngIf="!email('pristine') && email('required')" class="text-danger text-right">Required</p>
                <p *ngIf="!email('pristine') && email('pattern')" class="text-danger text-right">Invalid Email Address</p>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"
                  [disabled]="isForgotPasswordValid()">SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>