<div class="content-wrapper main-panel">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Upload Banners</h4>
          <form class="forms-sample">
            <div class="form-group">
              <label>File upload* (Maximum 6 images you can upload)</label>
              <div class="input-group col-xs-12">
                <input type="file" multiple accept=".png, .jpg, .jpeg" >
              </div>
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>