<div class="content-wrapper main-panel">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-2">
            <h4 class="card-title">All Users</h4>
            <select>
              <option>All</option>
              <option>Sellers</option>
              <option>Consumer</option>
            </select>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    Assignee
                  </th>
                  <th>
                    User Type
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Last Update
                  </th>
                  <th>
                    Tracking ID
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="images/faces/face1.jpg" class="mr-2" alt="image">
                    David Grey
                  </td>
                  <td>
                    Fund is not recieved
                  </td>
                  <td>
                    <label class="badge badge-gradient-success">ACTIVE</label>
                  </td>
                  <td>
                    Dec 5, 2017
                  </td>
                  <td>
                    WD-12345
                  </td>
                  <td>
                    <label class="badge badge-gradient-info">BLOCK</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="images/faces/face4.jpg" class="mr-2" alt="image">
                    John Doe
                  </td>
                  <td>
                    Loosing control on server
                  </td>
                  <td>
                    <label class="badge badge-gradient-danger">BLOCKED</label>
                  </td>
                  <td>
                    Dec 3, 2017
                  </td>
                  <td>
                    WD-12348
                  </td>
                  <td>
                    <label class="badge badge-gradient-info">UNBLOCK</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>